<div class="calculator">
  <div class="calculator__display">0</div>
  <div class="calculator__keys">
    <button class="key--operator" data-action="add">+</button>
    <button class="key--operator" data-action="subtract">-</button>
    <button class="key--operator" data-action="multiply">×</button>
    <button class="key--operator" data-action="divide">÷</button>
    <br>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <br>
    <button>5</button>
    <button>6</button>
    <button>4</button>
    <br>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <br>
    <button>0</button>
    <button class="key--equal" data-action="calculate">=</button>
    <button data-action="decimal">.</button>
    <button data-action="clear">AC</button>
    <br>

  </div>
</div>
