<h2>Product Information</h2>

<form [formGroup]="productEditForm" (ngSubmit)="onSubmit()">
  <table>


    <tr>
      <td>Tên  sản phẩm:</td>
      <td>
        <input type="text" formControlName="name">
      </td>
    </tr>

    <tr>
      <td>Giá sản phẩm:</td>
      <td>
        <input type="number" formControlName="price">
      </td>
    </tr>

    <tr>
      <td>Mô tả sản phẩm:</td>
      <td>
        <input type="text" formControlName="description">
      </td>
    </tr>

    <tr>
      <td></td>
      <td><button type="submit">Cập nhật sản phẩm</button></td>
    </tr>
  </table>
</form>
<router-outlet></router-outlet>
