<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div>
  <h1> Dịch Vụ</h1>
  <div>
    <form>
      <div class="col-md-6">
        <label class="form-label" for="">Room Type</label>
        <input type="text" class="form-control" name="" id="">
      </div>
      <div class="col-md-6">
        <label class="form-label" for="">Name Of Room</label>
        <input type="text" class="form-control" name="" id="">
      </div>
      <div class="col-md-6">
        <label class="form-label" for="">Price</label>
        <input type="text" class="form-control" name="" id="">
      </div>
      <br><br>
      <div>
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>
  </div>
</div>
